In [2]:
#import dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo
from flask import Flask, render_template, redirect
import pandas as pd

In [3]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
# Visit website
url = "https://mars.nasa.gov/news/"
browser.visit(url)

    
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/sophia/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [4]:
# Retrieve the latest news title
latest_news_title = soup.find_all('div', class_='content_title')[1].text
latest_news_title

'Life Goals: NASA Software Unlocks Martian Rover Productivity'

In [5]:
# Retrieve the lastest paragraph text
latest_news_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
latest_news_paragraph

'Productivity pundits know lots of tricks to make the most of your day, so you can schedule enough time for important tasks while guarding against overload.'

In [6]:
print(latest_news_title)
print(f"-----------------------------------------------")
print(latest_news_paragraph)

Life Goals: NASA Software Unlocks Martian Rover Productivity
-----------------------------------------------
Productivity pundits know lots of tricks to make the most of your day, so you can schedule enough time for important tasks while guarding against overload.

JPL Mars Space Images - Featured Image

In [7]:
#visit url
jpl_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(jpl_url)

In [8]:
#find and click the image button
full_image_element = browser.find_by_tag('button')[1]
full_image_element.click()

In [9]:
# HTML object
html = browser.html
# Parse HTML
soup = BeautifulSoup(html,"html.parser")
# Retrieve image url
feature_image_url = soup.find_all('img', class_='headerimage fade-in')

In [10]:
#find image url
img_url = soup.find('img', class_= 'fancybox-image').get('src')
img_url

'image/featured/mars1.jpg'

In [11]:
#use base url to create absolute url

absolute_url = f"https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/{img_url}"
absolute_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/image/featured/mars1.jpg'

Mars Facts

In [ ]:
#use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#use Pandas to convert the data to a HTML table string.

In [12]:
# use pd.read_html to pull data from the 2nd table.
df = pd.read_html('https://space-facts.com/mars/')[1]
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
#change index
df.columns = ['Description', 'Mars', 'Earth']
df.set_index('Description', inplace = True)
df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [14]:
#convert df to html format
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

Mars Hemisphere

In [16]:
#visit url
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [17]:
# <a href="/search/map/Mars/Viking/cerberus_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png" alt="Cerberus Hemisphere Enhanced thumbnail"></a>
links = browser.find_by_css('a.product-item img')
links

In [18]:
#check that there are 4 different links to correspond with the 4 different links provided on the page. 
len(links)

4

In [19]:
# do a 'for' loop.  Loop to click on link, find 'sample' anchor tag, return href for all 4 of the links.

#create list to hold all images and titles
hemisphere_imageurl_title = []

for i in range(len(links)):
    hemisphere = {}
    
    #elements needed to be 'clicked' for each of the 4 loops
    browser.find_by_css('a.product-item img')[i].click()
    
    #sample anchor tag
    sample = browser.find_by_text('Sample').first
    hemisphere['img_url']= sample['href']
    
    #get title of hemisphere
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    #append 'hemisphere' object to 'hemisphere_imageurl_title' list
    hemisphere_imageurl_title.append(hemisphere)
    
    #click back to go back to page and start the next loop.
    browser.back()

In [21]:
hemisphere_imageurl_title

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [22]:
browser.quit()

In [24]:
!jupyter nbconvert --to script web-scrapping-challenge.ipynb

[NbConvertApp] Converting notebook web-scrapping-challenge.ipynb to script
[NbConvertApp] Writing 3852 bytes to web-scrapping-challenge.py